<div class="jumbotron">
  <div class="container">
    <h1>HOLA DAVID!</h1>
    <h2>lorem ipsum</h2>
    <a href="http://en1mes.com" class="btn btn-warning">
      <span class="glyphicon glyphicon-hand-right"></span>
      en un mes
    </a>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-4">
        <div class="page-header">
          <h1 style="display:inline">Example page header</h1>
          <span class="label label-default">Default</span>
        </div>
          <a href="http://en1mes.com" target="_blank">en un mes</a>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure laudantium nemo nobis officia voluptates voluptatibus. Aliquam architecto assumenda facilis illum inventore modi perferendis tempora tenetur voluptatem! Deserunt inventore veniam voluptatem.</p>
    </div>
    <div class="col-md-4">
      <div class="page-header">
        <h1>Example page header</h1>
      </div>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure laudantium nemo nobis officia voluptates voluptatibus. Aliquam architecto assumenda facilis illum inventore modi perferendis tempora tenetur voluptatem! Deserunt inventore veniam voluptatem.</p>
    </div>
    <div class="col-md-4">
      <div class="page-header">
        <h1>Example page header</h1>
      </div>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure laudantium nemo nobis officia voluptates voluptatibus. Aliquam architecto assumenda facilis illum inventore modi perferendis tempora tenetur voluptatem! Deserunt inventore veniam voluptatem.</p>
      <img src="http://cdn.playbuzz.com/cdn/18bbdf38-c049-4069-87ce-af421bc34585/ff3c43e8-c1a9-48df-bfa4-f708b0827af5.jpg"
           class="img-responsive">
      <ol>
        <li>Item 1</li>
        <li>Item 2</li>
        <li>Item 3</li>
      </ol>
    </div>
  </div>
</div>

